body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

#table {
  border: 2px solid black;
  max-width: fit-content;
}
.row {
  display: flex;
}

.box {
  min-width: 3rem;
  max-width: 9rem;
  min-height: 3rem;
  background-color: burlywood;
}

.row:nth-child(odd) .box:nth-child(even),
.row:nth-child(even) .box:nth-child(odd) {
  background-color: saddlebrown;
}
