@import "styles/variables.css";
@import "styles/global.css";

/* Define as dimensões da header. */
header {
  width: 100%;
  height: 20rem;
  background-image: url(/assets/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -100px;
}

/* Define as propriedades da navbar, como a direção dos elementos e cores. */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  padding-left: 3px;
  padding-right: 3px;
  margin: 1rem;
  background-color: var(--blue);
  color: var(--white);
}

.navbar #container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--pink);
}

.navbar .title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar #container-title img {
  width: 2em;
  height: 2em;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 5px;
  margin-top: 3px;
  margin-left: 1rem;
}

.navbar #container-options {
  display: flex;
}

.navbar #container-options > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}

.navbar #container-options {
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.navbar #container-options li {
  list-style: none;
  color: var(--pink);
  margin-right: 3rem;
}

.navbar #container-options li:nth-child(5) {
  font-weight: bold;
}

.navbar #container-options span {
  display: flex;
  gap: 10px;
  color: var(--pink);
}

.navbar #container-options img {
  width: 2em;
  height: 2em;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 5px;
  margin-top: 3px;
}

/* Estiliza os dropdowns presentes. */
.dropdown {
  float: left;
  overflow: hidden;
  display: flex;
}

.dropdown .dropdown-btn {
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown .dropdown-options {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 10rem;
  z-index: 1;
  color: var(--black);
  right: 1rem;
  margin-top: 3rem;

  /* Os estilos flex não serão aplicados na hora, somente na exibição da lista (i.e, quando o hover no dropdown ocorrer). */
  flex-direction: column;
}

.dropdown .dropdown-options a {
  text-align: center;
  margin: 0.5rem;
}

.dropdown .dropdown-options a:hover {
  background-color: #cecece;
}

/* Devido à utilização restrita do HTML e CSS, Javascript não foi utilizado para exibir as opções no clique do botão. 
Logo, a alternativa foi exibi-los ao passar o mouse por cima. */

.dropdown:hover .dropdown-options,
.dropdown:hover {
  display: flex;
}
