@import "common.css";
@import "variables.css";
@import "cards-hover.css";

/*
 * Define os estilos para os cards da página.
 * Os estilos são geralmente aplicados a todos os cards. Contudo, devido à seção
 * de produtos marcada como "#modules" ter 3 cards por linha ao invés de 2, alguns
 * estilos mais específicos foram necessários, como diminuição de largura e maior espaçamento.
*/

.cards {
  padding: 2rem 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

#modules {
  gap: 2.2rem !important;
}

/* 
 * Aplicando responsividade na área de cards. 
*/
@media only screen and (min-width: 1200px) {
  .cards {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 992px) and (max-width < 1200px) {
  .cards {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) and (max-width < 992px) {
  .cards {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) and (max-width < 768px) {
  .cards {
    max-width: 540px;
  }
}

/*
 * Define os estilos para os cards. Primeiro, é definido o estilo geral e, depois, 
 * ocasionais personalizações. 
 */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25rem;
  flex-grow: 1;
  max-width: 35rem;
  box-sizing: border-box;
}

/* Para a seção de módulos dos produtos, os cards são alinhados 3 a 3, então a largura é menor. */
#modules .card {
  justify-content: start;
  max-width: 20rem;
  min-height: 395px;
}

/*
 * Centraliza a imagem de cada card e define seus tamanhos
 */
.card .card-img {
  align-self: center;
  object-fit: cover;
  height: 20rem;
  max-height: 20rem;
  width: 100%;
  max-width: 30rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: background-image 1.5s ease;
}

/*
 * Coloca o título, preço do produto e descrição na mesma linha para separá-los facilmente.
 * O texto do título ocupa 80% do espaço, o preço 10% e a descrição o restante.
 * Devido ao flex-wrap, a descrição vai cair para o espaço abaixo.
 */
.card .card-title {
  width: 100%;
  align-self: center;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
 * O último card da seção principal tem uma largura maior em comparação aos anteriores.
*/
#last-card,
#last-card .card-img,
#last-card .card-title {
  max-width: 65rem;
  width: 100%;
}

.card .card-title .card-text {
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--blue);
  margin-top: 3px;
  width: 80%;
  text-transform: uppercase;
}

.card .card-title .card-price {
  color: var(--blue);
  margin-top: 3px;
  font-weight: 200;
  min-width: 10%;
}

.card .card-title .card-description {
  margin-top: -5px;
  font-size: 0.8rem;
  color: var(--blue);
  font-weight: 300;
}
