@import "navbar.css";
@import "presentation.css";

/* Define as dimensões da header. */
.header {
  width: 100vw;
  height: 30rem;
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/background-header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
