@import "navbar.css";
@import "presentation.css";

/* Define as dimensões da header. */
.header {
  width: 100vw;
  height: 40rem;
  opacity: 1;
  background-image: url("../assets/background-header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
