@import "navbar.css";
@import "presentation.css";

/* Define as dimensões da header. */
.header {
  width: 100%;
  height: 20rem;
  background-image: url("../assets/background-header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -500px;
  padding: 10px 7px;
}
