@import "variables.css";

/* 
 * Define as propriedades da navbar e seus componentes internos.
 * 
*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 97vw;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 0.8rem;
  background-color: var(--blue);
  color: var(--white);
  position: fixed;
}

/*
 * Coloca o ícone de "sanduíche" de mais opções da navbar como oculto
 * Obs.: Este ícone está dentro da seção de usuário da navbar, mas é somente pela estilização herdada daquela seção, não porque é específico de cada usuário
*/
.navbar .more-icon {
  display: none;
}

/*
 * Faz com que, em larguras de tela menores, não exiba todas as opções da navbar, somente o ícone "sanduíche"
*/
@media (max-width: 1056px) {
  .navbar .more-icon {
    display: block;
  }
  .navbar-links {
    display: none !important;
  }
}

/*
 * Propriedades da logo do Monogram
*/
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--pink);
  padding-left: 0.7rem;
}

/*
 * Propriedades da lista de ações da navbar
*/
.navbar-links {
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 3px;
  justify-self: flex-end;
}

.navbar-links > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

.navbar-links li {
  list-style: none;
  color: var(--pink);
  margin-right: 3rem;
}

/*
 * Simula o efeito de selecionado na opção "Shop"
*/
.navbar-links li:nth-child(5) {
  font-weight: bold;
}

/*
 * Propriedades da área de usuário, que são o ícone de sacola e as opções de moeda
*/
.navbar-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar-user-info img {
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 5px;
  margin-top: 3px;
}
