@import "variables.css";

/* Define as propriedades da navbar, como a direção dos elementos e cores. */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 97vw;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 0.8rem;
  background-color: var(--blue);
  color: var(--white);
  position: fixed;
}

.menu-logo {
  display: none;
}

@media (max-width: 1056px) {
  .menu-logo {
    display: block;
  }
  .navbar-links {
    display: none !important;
  }
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--pink);
  padding-left: 0.7rem;
}

.navbar-links {
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 3px;
  justify-self: flex-end;
}

.navbar-links > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

.navbar-links li {
  list-style: none;
  color: var(--pink);
  margin-right: 3rem;
}

.navbar-links li:nth-child(5) {
  font-weight: bold;
}

.navbar-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar-user-info img {
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 5px;
  margin-top: 3px;
}
